.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: #c1f37e51;
  align-items: center;
  padding: 40px;
}

.title {
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  text-align: center;
}


.start-button {
  width: 200px;
  height: 50px;
  background-color: #ff792113;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}
.image {
  width: 128px;
  height: 143px;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-top: 20px;
}